.profile {
    border: 4px solid #000;
    padding-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.imgProfile {
    margin: 0 auto;
    max-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    background-color: rgb(64, 61, 61);
}
.name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgb(21, 20, 20);
    margin-top: 30px;
}
.tag {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgb(124, 118, 118);
    margin-top: 30px;
} 
.location {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgb(124, 118, 118);
    margin-top: 20px;
    margin-bottom: 20px; 
} 
.stats {
    display: flex;
    width: 100%;
    color: black;
    background-color: rgb(225, 220, 220);
}
.stat {
    display: flex;
    flex: 1;
    gap: 20px;
    padding: 20px 40px;
    flex-direction: column;
    border-top: 3px solid rgb(110, 108, 108);
    width: calc((100% - 1px *3) /3);
}  
.span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: black;   
}
.amount {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgb(21, 20, 20);
}
.stat:first-child {
    border-right: 3px solid rgb(110, 108, 108);
}
.stat:last-child {
    border-left: 3px solid rgb(110, 108, 108);
}
.spanFollowers {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    padding-right: 100px;
    color: black;
}